/* Base */
body {
	background: url('/graphics/bg.png') repeat-x top left $backgroundCol;
	font-family: 'Open Sans', serif;
}

.container {
	@include box-sizing;
	width: $container;
	max-width: $containerMax;
	margin: 0 auto 0;
	background: url('/graphics/content-bg.png') repeat top left $contentBackgroundCol;
	padding: 1em 2em;
	@include border-radius(8px 0 0 0);
}

::selection {
	background: #8F2F09;
	color: #fff;
}

img, audio, canvas, embed, object, video {
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6, a {
	font-weight: 600;
}

strong {
	font-weight: 600;
}

/* Header */
.header {
	width: 94%;
	margin: 0 auto;
	max-width: 1000px;
	position: relative;
}

.logo {
	float: left;
	padding: 10px;
}

/* Navigation */

/* -- NAV -- */
.nav_ul {
	list-style-type: none;
	margin-left: 0;
	margin-bottom: 0;

	li {
		@extend .zero-bottom;
	}

	a {
		display: inline-block;
	}	

}

.nav {
	position: absolute;
	bottom: 0;
	right: 0;
}

.nav_item {
	display: block;
	margin-right: .5em;
	margin-top: 8px;
	float: left;
	@include border-radius(5px 5px 0 0);
}

.nav_item a {
	font-family: 'Varela Round', sans-serif;
	@include font-size (18);
	color: #000;
	padding: 0 1em;
	font-weight:normal;
}

.nav_item.last {
	margin-right: 0;
}

.color1 {
	background: #d7e2eb;
}

.color2 {
	background: #eee7d1;
}

.color3 {
	background: #efddd6;
}

.active {
	background: url('/graphics/content-bg.png');
}

/* Content */

h1, .as-h1 {
	@include font-size(26);
}

h2, .as-h2 {
	@include font-size(22);
}

.bigger {
	@include font-size(20);
}

.column_wrap {
	margin-left: -5em;
	overflow: hidden;
	clear: both;
}

.column {
	float: left;
	width: 50%;
	padding-left: 5em;
	@include box-sizing;
}

.column_header {
	@extend .zero-top;
}

.testimonial {
	background: url('/graphics/quotes.png') top left no-repeat;
	padding: 1em 35px;
	margin-top: 1em;
}

.testimonial .quote {
	margin: 0;
}

.testimonial .attribution {
	float: right;
}

.testimonial .attribution a {
	font-weight: normal;
}

.ie_only {
	display: none;
}

.footnote {
	@include font-size(12);
}

/* Footer */
.footer {
	color: #fff;
	@include font-size(14);
	width: 94%;
	max-width: 1000px;
	margin: 0 auto 2em;
	border-top: 6px solid #242424;
	border-bottom: 3px solid #242424;
	background: #273039;
	padding: 1em 2em;
	@include box-sizing;
	@include border-radius(0 0 25px 25px);
}

.footer_block {
	float: left;
	margin-bottom: 1.5em;
}

.footer .aotw {
	float: right;
}

.aotw_inner {
	background: url('/graphics/headphones.png') 98% .5em no-repeat #f0f0f0;
	padding: .5em 5em .5em 1em;
	@include border-radius(5px);
	color: #2B2B2B;
}

.aotw_inner a {
	color: #2B2B2B;
}

.aotw_inner a:hover {
	color: $linkColHover;
}

.aotw_link {
	float: left;
}

.link_1 {
	margin-right: 6em;
}

.footer p:last-child {
	margin-bottom: 0;
}

.footer a {
	color: #e1d8bb;
}

.footer a:hover {
	color: #ea9675;
}