/* Header */
.logo {
	padding-left: 0;
	padding-right: 0;
}

/* Navigation */
.nav {
	background: #d619f2;
	width: 100%;
}

.nav_ul {
	width: 100%;
}

.nav_item {
	@include box-sizing;
	@include border-radius(0);
	width: 33.33%;
	margin: 0;
	height: 3em;
	padding: 3px;
}

.nav_item a {
	@include font-size(26);
	width: 100%;
	text-align: center;
	padding: 0;
}

.active {
	padding: 0;
	border: 3px solid #000;
}

.active.color1 {
	background: #d7e2eb !important;
}

.active.color2 {
	background: #eee7d1 !important;
}

.active.color3 {
	background: #efddd6 !important;
}

/* Content */
.container {
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.column {
	float: none;
	width: auto;
}